@import "../../index.scss";

.navbar{
   background: $mainBlack;
   padding: 0.5rem 1rem;
   display: grid;
   grid-template-columns: auto 1fr;
}
.logo{
height: 50px;
width: 50px;
}
.nav-links{
    align-self: center;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: auto;
    text-align: center;
}
.nav-link{
  
    color: $mainGrey;
    text-decoration-line: none;
    text-transform: capitalize;
    font-size: 1.2rem;
    transition: all 0.3s linear;
    &:hover{
        color:$mainGreen;
    }   
   text-align: center;
}
.active{
    color: $mainGreen;
}